/*

BLK Theme for BetterDiscord. Created by https://github.com/fluentbyte.
GitHub Repository: https://github.com/fluentbyte/BLKdiscord
v1.0

*/

:root {
    --main-bg-color: #131313; /* Dark Grey */
    --second-bg-color: #000000; /* Black */
    --white-bg-color: #ffffff; /* White */
    --accent-color: #ff0046; /* Pink */
    --black-text-color: #000000; /* Black */
    --white-text-color: #ffffff; /* White */
    --spotify-color: #45d622; /* Spotify Color */
    --yellow-idle: #ffd100; /* Yellow Color for Idle Status */
    --main-text-color: #ffffff; /* White */
    --second-text-color: #000000; /* Black */
}

/* ------------------------------------------------------------------------- */

/* Background Colors */

  /* MAIN BACKGROUND COLOR */
  .messagesWrapper-3lZDfY,
  .guildsWrapper-5TJh6A,
  .inner-zqa7da,
  .messagesWrapper-3lZDfY .scroller-wrap ::-webkit-scrollbar-track-piece,
  .wrapper-2NJDcI,
  .contentConnectedVoice-qL-YrL:active, .contentHoveredText-2D9B-x, .contentHoveredVoice-3p_NEO:active, .contentSelectedVoice-1WDIBM:active,
  .member-3W1lQa.popout-open .content-OzHfo4, .member-3W1lQa.popout-open:hover .content-OzHfo4,
  .search .search-bar,
  .body-3iLsc4, .footer-1fjuF6,
  .topSectionNormal-2-vo2m,
  #friends,
  #friends .tab-bar .tab-bar-item:hover:not(.selected),
  .search-bar .search-bar-inner,
  .lookFilled-1Gx00P.colorPrimary-3b3xI6,
  .libraryFilterInput-3JzqZD,
  .topPill-30KHOu .item-PXvHYJ:hover:not(.itemSelected-1qLhcL),
  .input-cIJ7To,
  .applicationStore-1pNvnv,
  .tileMedia-1q3guD, .tileMedia-24cT6_,
  .footer-1FPmkC,
  .inviteRow-2L02ae:hover,
  .header-1RC2Wb,
  .news-2GDtLJ,
  .cardPrimary-1Hv-to,
  .cardPrimaryEditable-3KtE4g,
  .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC,
  .button-2b6hmh:hover {
    background-color: var(--main-bg-color) !important;
  }

  /* SECOND BACKGROUND COLOR */
  .appMount-3VJmYg,
  .channels-Ie2l6A,
  .container-PNkimc,
  .title-3qD0b-,
  .chat-3bRxxu, .chat-3bRxxu form, .content-yTz4x3,
  .members-1998pB,
  .messagesWrapper-3lZDfY .scroller-wrap ::-webkit-scrollbar-thumb,
  .container-1UB9sr,
  .typing-2GQL18,
  .wrapper-35wsBm,
  .container-2x5lvQ header,
  .container-2x5lvQ section,
  .headerNormal-T_seeN,
  .quickMessage-1yeL4E,
  .container-2lgZY8,
  .body-3ND3kc,
  .invisible-1kp8Z0, .offline-3qoTek, .unknown-Ms2zdV,
  .container-2Thooq,
  .guildInner-3DSoA4,
  .headerBar-UHpsPw,
  .theme-dark #friends .friends-table .friends-row:hover,
  .theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action,
  .search-bar,
  .gameLibrary-TTDw4Y,
  .header-39GIC8,
  .root-1BQpZw,
  .applicationTile-1Goy1W,
  .applicationTile-1Goy1W:hover,
  .iconCircle-1dlYo0,
  .autocomplete-1vrmpx,
  .search-results-wrap,
  .search-results-wrap .search-header,
  .modal-3HD5ck,
  .item-1Yvehc:hover,
  .contentRegion-3nDuYy,
  .separator-gCa7yv,
  .side-8zPYf6 .itemSelected-1qLhcL,
  .activityFeed-28jde9,
  .article-3kb3qm,
  .carousel-2WxMes,
  .card-7JP0BX,
  .headerButtonColor-G7_f-V,
  .guildIconEmptyBackground-14tfYf,
  .size-3rFEHg:after,
  .size-3rFEHg:active:after,
  .attachPopoutRow-KrE-f6:hover {
    background-color: var(--second-bg-color) !important;
  }

  /* ACCENT COLOR */
  .unread-1xRYoj,
  .dnd-1_xrcq,
  .headerPlaying-j0WQBV,
  .topSectionPlaying-1J5E4n,
  .guildInner-3DSoA4:hover,
  .layers-3iHuyZ,
  #friends .tab-bar .tab-bar-item.tab-bar-item-primary,
  .wrapper-232cHJ,
  .lookFilled-1Gx00P.colorBrand-3pXr91,
  .iconBadge-2dji3k,
  .side-8zPYf6 .itemDefault-3Jdr52:hover, .side-8zPYf6 .itemHover-EnbcjT:hover,
  .lookFilled-1Gx00P.hoverGreen-1gjdJc.hasHover-3X1-zV:hover,
  .lookFilled-1Gx00P.hoverBrand-1_Fxlk.hasHover-3X1-zV:hover,
  .themeDefault-24hCdX,
  .mention-1f5kbO {
    background-color: var(--accent-color) !important;
  }

  /* WHITE */
  .menu-Sp6bN1,
  .guild-1EfMGQ.unread-qLkInr:before,
  .popout-2xBvMR,
  .arrow-1QsYio,
  .container-3cGP6G,
  .searchAnswer-3Dz2-q, .searchFilter-2ESiM3,
  .contextMenu-HLZMGh,
  .sidebarRegion-VFTUkN,
  .dockItem-2kQDqg:hover,
  .body-SKIE6r,
  .themeDefault-24hCdX.valueChecked-m-4IJZ,
  .progress-1IcQ3A,
  .attachPopout-1n-ZKM {
    background-color: var(--white-bg-color) !important;
  }

  /* YELLOW */
  .idle-3DEnRT {
    background-color: var(--yellow-idle) !important;
  }

  /* GREEN */
  .headerSpotify-zpWxgT,
  .lookFilled-1Gx00P.colorGreen-29iAKY,
  .online-2S838R,
  .topSectionSpotify-1lI0-P {
    background-color: var(--spotify-color) !important;
  }

/* TEXT COLORS */

  /* BLACK */
  .item-1GzJrl,
  .lookInverted-2D7oAl.colorBrand-3pXr91,
  .alt-3btY0e .helper-2c73HK,
  #friends .tab-bar .tab-bar-item.selected,
  .topPill-30KHOu .itemSelected-1qLhcL,
  .smallHeader-2h-9-U,
  .text-1Z3P6i,
  .description-2Ifi6N,
  .arrow-1QsYio,
  .item-2J1YMK,
  .searchAnswer-3Dz2-q, .searchFilter-2ESiM3,
  .item-1Yvehc,
  .itemDefault-3Jdr52, .itemHover-EnbcjT,
  .discriminator-pIKHPn, .playTime-1laRtO,
  .tag-10JqWu,
  .channelName-2rTyk5,
  .attachPopoutRowText-1tIocA {
    color: var(--black-text-color) !important;
  }

  /* WHITE */
  .wrapper-2NJDcI,
  #friends .tab-bar .tab-bar-item,
  .lookFilled-1Gx00P.colorPrimary-3b3xI6,
  .input-cIJ7To,
  .circle-1nK_79,
  .purchaseUnitOperatingSystem-cnbJPz,
  .theme-dark .side-8zPYf6 .itemDefault-3Jdr52:hover, .theme-dark .side-8zPYf6 .itemHover-EnbcjT:hover,
  .card-7JP0BX,
  .item-1Yvehc:hover,
  .guildIconEmptyIcon-rSyLPf,
  .attachPopoutRowText-1tIocA:hover {
    color: var(--white-text-color) !important;
  }

  /* ACCENT COLOR */
  .announcingNitro-3Ptg6m,
  .description-2Ifi6N strong, .username-2gp_Xw,
  .item-1Yvehc.danger-2dXSTE:hover,
  .item-1Yvehc.danger-2dXSTE,
  .header-2RyJ0Y,
  .gameName-wzJptK,
  .sectionTitle-1snBOS,
  .lookOutlined-3sRXeN.colorRed-1TFJan {
    color: var(--accent-color) !important;
  }

  /* GREEN */
  .lookOutlined-3sRXeN.colorGreen-,
  .lookOutlined-3sRXeN.colorGreen-29iAKY,
  .attachButtonPlay-ZnFdQr {
    color: var(--spotify-color) !important;
  }

/* Individual changes */

.innerNoAutocomplete-1WpcVO,
.menu-Sp6bN1,
.wrapper-35wsBm,
.button-38aScr,
.member-3W1lQa,
.search .search-bar,
.userPopout-3XzG_A,
.quickMessage-2XpSaN,
.content-20Aix8,
.guild-1EfMGQ.selected-ML3OIq:before,
.connectedAccount-36nQx7,
.root-SR8cQa,
#friends .tab-bar .tab-bar-item,
.search-bar .search-bar-inner,
.channel-2QD9_O a,
#friends .friends-table .friends-row:hover,
.wrapper-232cHJ,
.topPill-30KHOu .item-PXvHYJ,
.libraryFilter-31ZUa2 .libraryFilterInput-3JzqZD,
.topPill-30KHOu .item-PXvHYJ,
.input-cIJ7To,
.applicationTile-1Goy1W,
.popout-2xBvMR,
.tileMedia-1q3guD,
.premium-39U29H,
.container-3cGP6G,
.selector-2IcQBU,
.modal-3HD5ck,
.contextMenu-HLZMGh,
.item-1Yvehc,
.inviteRow-2L02ae,
.side-8zPYf6 .item-PXvHYJ,
.article-3kb3qm,
.exclusive-3zP8if,
.card-7JP0BX,
.news-2GDtLJ,
.card-3Qj_Yx,
.item-26Dhrx,
.box-mmYMsp,
.userSettingsVoice-iwdUCU .previewOverlay-2O7_KC,
.attachPopout-1n-ZKM,
.attachPopoutRow-KrE-f6,
.button-2b6hmh {
  border-radius: 12px !important;
}

.container-2Thooq, .theme-light .container-2Thooq {
  background: none;
}

.contentSelectedText-3wUhMi, .contentSelectedVoice-1WDIBM,
.channel-2QD9_O.selected-1HYmZZ a,
.selectorSelected-1_M1WV {
  background-color: #4f545c99 !important;
}

.messagesWrapper-3lZDfY .scroller-wrap ::-webkit-scrollbar-track-piece,
.messagesWrapper-3lZDfY .scroller-wrap ::-webkit-scrollbar-thumb,
.channel-2QD9_O.selected-1HYmZZ .status,
.cardPrimary-1Hv-to,
.cardPrimaryEditable-3KtE4g,
.userSettingsVoice-iwdUCU .previewOverlay-2O7_KC {
  border-color: var(--main-bg-color) !important;
}

.container-1UB9sr {
  border-bottom: 1px solid var(--main-bg-color);
}

.item-1GzJrl:hover {
  background: linear-gradient(90deg,rgb(220, 220, 220) 70%,#ffffff) !important;
}

.member-3W1lQa:hover .content-OzHfo4,
.channel-2QD9_O.selected-1HYmZZ a, .channel-2QD9_O:hover a {
  background: linear-gradient(90deg,var(--main-bg-color) 70%,var(--second-bg-color)) !important;
}

.wrapper-35wsBm,
.input-cIJ7To,
.distributionApplicationsActions-3D2_kD, .premiumApplicationsHeader-Zmkm5e,
.lookOutlined-3sRXeN.colorRed-1TFJan {
  border-color: var(--accent-color) !important;
}

.isMentioned-N-h9aa, .isMentionedCozy-3isp7y:after {
  background-color: #ff004614 !important;
}

.isMentionedCozy-3isp7y:after {
    border-left: 4px solid var(--accent-color);
}

.avatarSpeaking-1wJCNq {
  box-shadow: 0 0 0 2px var(--accent-color), inset 0 0 0 1.5px #000000
}

.popout-3sVMXz header,
.autocomplete-1vrmpx {
  border-radius: 12px 12px 0 0;
}

.container-2x5lvQ section {
  border-radius: 0 0 12px 12px;
}

.quickMessage-1yeL4E,
.status-2s6iDp,
.member-3W1lQa.popout-open .content-OzHfo4 .status-2s6iDp, .member-3W1lQa.popout-open:hover .content-OzHfo4 .status-2s6iDp,
.popoutSocialInfo-1qhqSY {
  border-color: var(--second-bg-color) !important;
}

.userPopout-3XzG_A {
  box-shadow: 0 2px 10px 0 rgb(0, 0, 0), 0 0 0 1px rgb(0, 0, 0) !important;
}

.guild-1EfMGQ.selected-ML3OIq:before {
  height: 30px;
  margin-top: -15px;
}

.connectedAccount-36nQx7, .userInfoSection-2acyCx+.userInfoSection-2acyCx {
  border-color: var(--main-bg-color) !important;
}

.search-bar .search-bar-inner,
.libraryFilter-31ZUa2 .libraryFilterInput-3JzqZD {
  border: 1px solid var(--main-bg-color) !important;
}

.channel-2QD9_O .status {
  border: 2px solid var(--white-bg-color) !important;
}

.channel-2QD9_O:hover .status {
  border-color: var(--white-bg-color) !important;
}

.newMessagesBar-mujexs {
  background-color: #ff0046b5 !important;
  border: 0 0 12px 12px !important;
}

.searchFilter-2ESiM3 {
    border-radius: 12px 0 0 12px !important;
}

.modal-3HD5ck {
    box-shadow: 0 0 0 0 transparent, 0 2px 15px 2px #ff004633 !important;
}

.lookOutlined-3sRXeN.colorGreen-29iAKY,
.lookOutlined-3sRXeN.colorRed-1TFJan:hover {
    border-color: var(--spotify-color) !important;
}

.checkbox-1ix_J3{
    border-color: var(--white-bg-color) !important;
}

.cardPrimaryEditable-3KtE4g[style*="border-color: rgb(114, 137, 218); background-color: rgb(114, 137, 218);"] {
	background-color: var(--accent-color) !important;
	border-color: var(--accent-color) !important;
	border-radius: 12px !important;
}

/* NOT WORKING */ .checked-3_4uQ9/*[style="border-color: rgb(114, 137, 218);"]*/ polyline[stroke],
.checkbox-1ix_J3/*[style="width: 24px height: 24px border-color: rgb(114, 137, 218);"]*/ polyline[stroke], {
     stroke: var(--second-bg-color) !important;
     stroke-width: 2 !important;
}

.attachPopoutIconForeground-OohRrL{
    fill: var(--accent-color) !important;
}

.attachButtonPlus-rUdX-B {
    fill: var(--white-bg-color) !important;
    opacity: .8 !important;
}

.innerAutocomplete-1PN280 {
    border-radius: 0 0 12px 12px;
}

.button-2b6hmh {
    opacity: .8 !important;
}

/* STORE: PREMIER AT DISCORD SIGN & OTHER DISCORD STORE THINGS (but not all)*/
.tag-HanR-9,
.premium-39U29H {
  background: linear-gradient(90deg,var(--accent-color),var(--main-bg-color)) !important;
}

.tag-HanR-9:before,
.premium-39U29H:before {
  background-image: none !important;
}

.description-3rB3Rp {
  background: linear-gradient(180deg,transparent,var(--second-bg-color) 45%,var(--second-bg-color)) !important;
}

.exclusive-3zP8if {
  background: linear-gradient(270deg,var(--accent-color),#738ef5) !important;
}

.paginationItem-2lUq0s:after{
  background: linear-gradient(270deg,transparent 0,var(--main-bg-color)) !important;
}
